/* Styles */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
  
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
  
nav li {
    display: inline-block;
    margin-right: 1em;
}
  
nav a {
    color: #fff;
    text-decoration: none;
}
  
main {
    background-color: #ffffff; /* white background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #cccccc; /* gray shadow */
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}
  
td {
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 72px;
}

#turn-indicator {
    text-align: center;
    font-size: 20px;
}

#turn-indicator #current-turn {
    font-weight: bold;
}

#turn-indicator #current-turn.X {
    color: blue;
}

#turn-indicator #current-turn.O {
    color: red;
}

main h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

main p {
    font-size: 18px;
    line-height: 1.5;
    text-align: center; /* align text to both left and right */
    margin-bottom: 20px;
}

#reset-button{
    scale: 1.5;
    padding: 2px 10px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 60px;
}

#reset-button:hover {
    background-color: #008080; /* change background color on hover */
    color: #fff; /* change text color on hover */
    cursor: pointer;
}

#score{
    text-align: center;
    font-size: large;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Media Queries */
@media (max-width: 600px) {
    /* styles for devices with a maximum width of 600px */
    body {
        font-size: 14px;
    }

    header {
        flex-wrap: wrap;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }
}